.form {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 1em;
}

@media(min-width: 768px) {
    .form {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        max-width: 180px;
    }
}