.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    text-align: center;
    transition: 0.6s transform;
}

.item:hover {
    cursor: pointer;
    transform: scale(101%);
}

.item__first{
    display: flex;
    flex-direction: column;
}

.item__last {
    padding-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item__first-details {
    padding-top: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item__first-details h3 {
    font-size: 2.6rem;
}

.item__first-details span {
    padding-top: 1em;
}
.item__first-details p {
    display: none;
}

.item__first-img {
    object-fit: contain;
    max-height: 300px;
}

.item__last-price {
    font-size: 3rem;
    display: block;
}

@media(min-width: 768px) {
    .item { 
        flex-direction: row;
    }
    .item__first{ 
        flex-direction: row;
        width: 60%;
    }
    .item__last{ 
        width: 40%;
        align-items: flex-end;
    }
    .item__last-price {
        text-align: end;
    }

}

@media(min-width: 1200px) {
    .item__first-details p {
        display: block;
    }
    .item__first-details {
        text-align: left;
    }
    .item__first{  
        width: 80%;
    }
    .item__last{  
        width: 20%;
        max-width: 200px;
    }
}