.btn {
    cursor: pointer;
    color: #fff;
    background: #813405;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    height: 50px;
    width: 50%;
    min-width: 135px;
    transition: 0.3s background-color;
}

.btn:hover {
    background-color: #D45113;
}

@media(min-width: 1200px) {
    .btn {
        width: 100%;
    }
}