.btn {
    cursor: pointer;
    color: #fff;
    background: #813405;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    padding: 1em;
    transition: 0.3s background-color;
}

.btn:hover {
    background-color: #D45113;
}

.btn:disabled {
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
}
