.btns {
    border: 1px solid hsl(0, 1%, 80%);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.btns button, .btns input {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 1em 0;
} 

.btns button {
    font-size: 2.2rem;
    padding: 0 1em;
}

.btns button:hover {
    background-color: #813405;
    color: #fff;
    border-radius: 8px;
}

.btns input {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%;
}
